{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}


<div style="text-align:center"><h2>Login</h2></div>
{#  <form method="post" id="form_login">#}
{#    {% csrf_token %}#}
{#    {{ form.as_table }}#}
{#      <label>Email</label>#}
{#      <input type="email" name="username" required>#}
{#      <label>Password</label><label>#}
{#      <input type="password" name="password" required>#}
{#  </label>#}
{#      <button type="submit">Login</button>#}
    <div align="center">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Log In</button>
  </form>


    </div>
    <a href= "/signup">New User? Signup</a>
{% endblock %}
