{% extends 'base.html' %}
{% block content %}

<br><br>
<h3>Patient List for {{ physician.first_name}} {{ physician.last_name }}</h3>
    <br>

     {% if patients %}
         <table class="table">
         <tr>
             <th class="text-center">
                 Name
             </th>
             <th class="text-center">
                 Action
             </th>
         </tr>
        {% for patient in patients %}
            <tr>

            <td>
                <h5 class="text-center">{{ patient.first_name}} {{ patient.last_name }}</h5>
            </td>
            <td class="text-center">

                <a href="/edit/?id={{ patient.id }}" class="btn btn-primary" role="button" >Edit Patient</a>


                <a href="/delete/?id={{ patient.id }}" class="btn btn-danger" role="button" >Delete Patient</a>
            </td>
            </tr>

        {% endfor %}


          </table>

     {% else %}
        No patients registered for {{ physician.first_name}} {{ physician.last_name }}
    {% endif %}
<br>
<a class="btn-link" href="/addpatient">Add new Patient</a>



{% endblock %}